@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
   box-sizing: border-box;
}

html {
   font-family: "Lato", sans-serif;
}

body {
   margin: 0;
   background-color: #f1f2f3;
}
